/* App-wide styling */
body {
##     background-color: #0f1116;
##     color: #ffffff;
##    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
##     margin: 20px;
}


#usererror {
    color: red;
}

#markdowncell {
   
}

#codecell {
    ## background-color: #1e1e1e;
    background-color: gray;
    color: #d4d4d4;
    padding: 10px;
    border-radius: 6px;
    font-family: monospace;
    white-space: pre-wrap;
}

#outputcell {
    background-color: #f5f5f5;
    border: 1px solid #ccc;   
    padding: 15px;            
    margin-bottom: 20px;      
    border-radius: 5px;       
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: monospace; 
}


#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

#fileselector {
    color: darkgreen;    
}

/* Echo */
#echo {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #1e222d;
    padding: 20px;
    border-radius: 10px;
}

#echo>h4 {
    margin: 0px 0px 15px 0px;
}


#echo>input {
    border: none;
    border-bottom: 1px white solid;
    background-color: transparent;
    color: #ffffff;
    transition: border-bottom-color 0.2s ease;
    outline: none;
    display: block;
    padding: 0px 0px 5px 0px;
    width: 100%;
}

#echo>input:focus {
    border-bottom-color: #6d85c6;
}

#echo>p {
    margin: 20px 0px 0px auto;
}
